<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Employee Attendance & Payroll System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>

        <h2>Employee Management System</h2>

        <div>
            <a href="/">Dashboard</a>
            <a href="/employees">Employees</a>
            <a href="/attendance">Attendance</a>
            <a href="/payroll">Payroll</a>
        </div>

    </nav>


    <div class="container">

        <h1>Dashboard</h1>

        <div class="cards">

            <div class="card">
                <h3>Total Employees</h3>
                <p>{{ total_employees }}</p>
            </div>

            <div class="card">
                <h3>Present Today</h3>
                <p>{{ present_today }}</p>
            </div>

            <div class="card">
                <h3>Absent Today</h3>
                <p>{{ absent_today }}</p>
            </div>

            <div class="card">
                <h3>On Leave</h3>
                <p>{{ leave_today }}</p>
            </div>

        </div>

    </div>

</body>

</html>